sentence-transformers
faiss-cpu
rank-bm25
pydantic
python-dotenv
openai
tiktoken
azure-cognitiveservices-speech
fastapi
pytesseract
pydantic-settings
requests
uvicorn
pdfplumber
python-pptx
python-docx
python-multipart
aiofiles
pandas
langfuse
pytesseract 
pillow




